/Sample/nbproject/private/
/Sample/build/
/LoginForm/nbproject/private/
/LoginForm/build/
/LoginLogout/LoginLogoutDB/nbproject/private/
/LoginLogout/WebApplication1/nbproject/private/
/LoginLogout/LoginLogoutDB/build/